-- MySQL dump 10.13  Distrib 9.0.1, for Win64 (x86_64)
--
-- Host: localhost    Database: help_shopping_app
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `help_shopping_app`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `help_shopping_app` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `help_shopping_app`;

--
-- Table structure for table `buycodes`
--

DROP TABLE IF EXISTS `buycodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buycodes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `buycode` int NOT NULL,
  `seq` int NOT NULL,
  `r_uid` int NOT NULL,
  `b_uid` int NOT NULL,
  `b_at` datetime NOT NULL,
  `isdelivery` tinyint(1) DEFAULT '0',
  `d_at` datetime DEFAULT NULL,
  `isrecieve` tinyint(1) DEFAULT '0',
  `r_at` datetime DEFAULT NULL,
  `r_acp_at` datetime DEFAULT NULL,
  `b_acp_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buycodes`
--

LOCK TABLES `buycodes` WRITE;
/*!40000 ALTER TABLE `buycodes` DISABLE KEYS */;
INSERT INTO `buycodes` VALUES (1,2,1,2,1,'2025-02-06 20:51:35',1,'2025-02-14 21:24:43',0,NULL,NULL,'2025-02-14 21:24:59'),(2,2,2,4,1,'2025-02-06 20:51:35',1,'2025-02-14 21:28:43',0,NULL,NULL,'2025-02-14 21:28:55'),(3,3,1,3,1,'2025-02-08 00:18:09',1,'2025-02-13 22:30:51',0,NULL,NULL,NULL),(4,4,1,3,1,'2025-02-08 00:18:27',1,'2025-02-13 22:30:51',0,NULL,NULL,NULL),(5,5,1,3,1,'2025-02-08 00:19:30',1,'2025-02-13 21:54:16',0,NULL,NULL,NULL),(6,6,1,4,1,'2025-02-14 21:26:19',1,'2025-02-14 21:30:36',0,NULL,NULL,'2025-02-14 21:30:43');
/*!40000 ALTER TABLE `buycodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communities`
--

DROP TABLE IF EXISTS `communities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `communities` (
  `id` int NOT NULL AUTO_INCREMENT,
  `community_name` varchar(255) NOT NULL,
  `com_auth_id` varchar(6) NOT NULL,
  `com_expl` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `delete_flg` tinyint DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communities`
--

LOCK TABLES `communities` WRITE;
/*!40000 ALTER TABLE `communities` DISABLE KEYS */;
INSERT INTO `communities` VALUES (1,'communityA','012345','繝・せ繝育畑縺ｮ繧ｳ繝溘Η繝九ユ繧｣繝ｼ縺ｧ縺・,'2024-10-02 17:19:10','2024-10-02 17:19:10',0),(2,'communityB','012345','縲・・慍蛹ｺ縺ｮ菴乗ｰ代ｒ荳ｭ蠢・→縺励◆繧ｳ繝溘Η繝九ユ繧｣縺ｧ縺呻ｼ・,'2024-10-02 17:19:25','2024-10-02 17:19:25',0),(3,'communityC','012345','迴ｾ迥ｶ縲√§縺・＆繧薙・縺ｰ縺ゅ＆繧薙＠縺九♀繧峨★雋ｷ縺・焔縺後♀繧翫∪縺帙ｓ縲ゅゅよ･蜍滂ｼ・,'2024-10-02 17:19:30','2024-10-02 17:19:30',0),(4,'test','012345','test','2024-11-30 12:45:39','2024-11-30 12:45:39',0),(5,'繝・せ繝育畑繧ｳ繝溘Η繝九ユ繧｣繝ｼ','012345','繝・せ繝育畑縺ｮ繧ｳ繝溘Η繝九ユ繧｣繝ｼ縺ｧ縺・,'2024-11-30 12:57:37','2024-11-30 12:57:37',0),(6,'繝・せ繝育畑繧ｳ繝溘Η繝九ユ繧｣繝ｼ','959731','繝・せ繝育畑縺ｮ繧ｳ繝溘Η繝九ユ繧｣繝ｼ縺ｧ縺・,'2024-11-30 12:59:09','2024-11-30 12:59:09',0),(7,'魑ｴ蟆ｾ蝨ｰ蛹ｺ繧ｳ繝溘Η繝九ユ繧｣','022214','魑ｴ蟆ｾ蝨ｰ蛹ｺ縺ｮ繧ｳ繝九Η繝九ユ繧｣繝ｼ縺ｧ縺・,'2024-11-30 13:00:48','2024-11-30 13:00:47',0),(8,'繝・せ繝育畑繧ｳ繝九Η繝九ユ繧｣繝ｼ・・,'460733','繝・せ繝育畑縺ｮ繧ｳ繝溘Η繝九ユ繧｣繝ｼ縺ｧ縺・,'2024-11-30 13:02:15','2024-11-30 13:02:15',0),(9,'繝・せ繝育畑繧ｳ繝溘Η繝九ユ繧｣繝ｼ・・,'388115','繝・せ繝育畑縺ｮ繧ｳ繝溘Η繝九ユ繧｣繝ｼ縺ｧ縺吶・,'2024-11-30 13:03:33','2024-11-30 13:03:33',0),(10,'隘ｿ逡ｦ驥主慍蛹ｺ繧ｳ繝溘Η繝九ユ繧｣繝ｼ','772161','隘ｿ逡ｦ驥弱・繧ｳ繝溘Η繝九ユ繧｣繝ｼ縺ｧ縺吶よ眠隕上が繝ｼ繝励Φ縺ｮ繝繧､繝ｬ繝・け繧ｹ縺瑚ｲｷ縺・黄蜈医〒縺吶・,'2024-12-05 20:13:51','2024-12-05 20:13:51',0);
/*!40000 ALTER TABLE `communities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `community_relations`
--

DROP TABLE IF EXISTS `community_relations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `community_relations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `community_id` int NOT NULL,
  `user_id` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `delete_flg` tinyint DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `community_relations`
--

LOCK TABLES `community_relations` WRITE;
/*!40000 ALTER TABLE `community_relations` DISABLE KEYS */;
/*!40000 ALTER TABLE `community_relations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requests`
--

DROP TABLE IF EXISTS `requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `vol` int NOT NULL,
  `unit` varchar(255) NOT NULL,
  `request_user_id` int NOT NULL,
  `inCart` text,
  `inCart_user_id` text,
  `buycode` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `delete_flg` tinyint DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requests`
--

LOCK TABLES `requests` WRITE;
/*!40000 ALTER TABLE `requests` DISABLE KEYS */;
INSERT INTO `requests` VALUES (1,'product1',1,'蛟・,1,'1','1',2,'2024-10-02 17:28:21','2025-02-06 20:51:34',0),(2,'product2',1,'蛟・,1,'0',NULL,NULL,'2024-10-02 17:28:27','2024-11-09 11:45:31',0),(3,'product3',1,'蛟・,1,'1','2',NULL,'2024-10-02 17:28:32','2024-11-22 21:04:48',0),(4,'product4',1,'蛟・,2,'1','2',NULL,'2024-10-02 17:28:40','2024-11-22 21:04:48',0),(5,'product5',1,'蛟・,2,'1','2',NULL,'2024-10-02 17:28:45','2024-11-22 21:04:48',0),(6,'product6',1,'蛟・,2,'1','1',2,'2024-10-02 17:28:48','2025-02-06 20:51:34',0),(7,'product7',1,'蛟・,3,'1','1',3,'2024-10-02 17:28:56','2025-02-08 00:18:09',0),(8,'product8',1,'蛟・,3,'1','3',NULL,'2024-10-02 17:29:00','2024-12-04 22:46:33',0),(9,'product9',1,'蛟・,3,'1','1',3,'2024-10-02 17:29:03','2025-02-08 00:18:09',0),(10,'product10',1,'蛟・,4,'1','1',6,'2024-10-02 17:29:20','2025-02-14 21:26:19',0),(11,'product11',1,'蛟・,4,'1','1',6,'2024-10-02 17:29:24','2025-02-14 21:26:19',0),(12,'product12',1,'蛟・,4,'0',NULL,NULL,'2024-10-02 17:29:29','2025-02-06 20:45:52',0),(13,'product13',1,'蛟・,5,'0',NULL,NULL,'2024-10-02 17:29:39','2025-01-23 21:15:38',0),(14,'product14',1,'蛟・,5,'0',NULL,NULL,'2024-10-02 17:29:44','2024-11-09 12:26:45',0),(15,'product15',1,'蛟・,5,'1','1',2,'2024-10-02 17:29:51','2025-02-06 20:51:34',0),(16,'product16',1,'蛟・,6,'0',NULL,NULL,'2024-10-02 17:30:05','2025-01-23 21:15:39',0),(17,'product17',1,'蛟・,6,'1','3',NULL,'2024-10-02 17:30:10','2024-12-04 22:46:33',0),(18,'product18',1,'蛟・,6,'1','3',NULL,'2024-10-02 17:30:13','2024-12-04 22:46:33',0),(19,'鬟ｲ譁呎ｰｴ',2,'譛ｬ',3,'1','1',4,'2024-11-06 23:16:53','2025-02-08 00:18:27',0),(20,'繧ｹ繝槭・繝医ヵ繧ｩ繝ｳ',3,'蜿ｰ',4,'1','1',2,'2024-11-07 00:22:08','2025-02-06 20:51:34',0),(21,'繧｢繝ｫ繧ｳ繝ｼ繝ｫ繧ｹ繝励Ξ繝ｼ',1,'蛟・,4,'1','1',2,'2024-11-07 00:27:18','2025-02-06 20:51:34',0),(22,'縺ｯ縺輔∩',1,'蛟・,4,'1','1',2,'2024-11-07 00:28:21','2025-02-06 20:51:34',0),(23,'繝・ぅ繝・す繝･繝壹・繝代・',5,'邂ｱ',5,'0',NULL,NULL,'2024-11-07 00:35:30','2024-11-07 00:35:29',0),(24,'縺輔▽縺ｾ縺・ｂ',3,'陲・,1,'1','1',2,'2024-11-07 00:36:53','2025-02-06 20:51:34',0),(25,'縺願幻',2,'譛ｬ',2,'1','1',2,'2024-11-09 12:14:36','2025-02-06 20:51:34',0),(26,'豢玲ｿｯ豢怜王',1,'蛟・,2,'1','2',NULL,'2024-11-22 21:04:35','2024-11-22 21:04:48',0),(27,'縺ｻ縺励＞繧・,1,'蛟・,14,'0',NULL,NULL,'2024-11-22 21:45:42','2024-11-22 21:45:42',0),(28,'縺願幻',1,'蛟・,14,'0',NULL,NULL,'2024-11-28 00:25:29','2024-11-28 00:25:28',0),(29,'縺ｪ縺・,3,'陲・,3,'1','1',4,'2024-12-05 20:08:03','2025-02-08 00:18:27',0),(30,'縺ｪ縺・,3,'陲・,3,'1','1',5,'2024-12-05 20:08:03','2025-02-08 00:19:30',0),(31,'縺ｪ縺・,3,'陲・,2,'1','1',2,'2024-12-05 20:10:32','2025-02-06 20:51:34',0),(32,'test',1,'蛟・,17,'0',NULL,NULL,'2024-12-05 20:56:04','2024-12-05 20:56:03',0),(33,'test',1,'蛟・,1,'0',NULL,NULL,'2025-01-02 22:18:48','2025-01-23 21:15:41',0);
/*!40000 ALTER TABLE `requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sort_col` int DEFAULT NULL,
  `unit_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
INSERT INTO `units` VALUES (1,1,'縺・),(2,2,'譛ｬ'),(3,3,'陲・),(4,4,'譫・),(5,5,'邂ｱ'),(6,6,'繧ｻ繝・ヨ');
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userlinks`
--

DROP TABLE IF EXISTS `userlinks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userlinks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `uid1` int DEFAULT NULL,
  `uid1_at` datetime DEFAULT NULL,
  `uid2` int DEFAULT NULL,
  `uid2_at` datetime DEFAULT NULL,
  `ismatch` tinyint(1) DEFAULT '0',
  `match_at` datetime DEFAULT NULL,
  `delete_flg` tinyint(1) DEFAULT '0',
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userlinks`
--

LOCK TABLES `userlinks` WRITE;
/*!40000 ALTER TABLE `userlinks` DISABLE KEYS */;
/*!40000 ALTER TABLE `userlinks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `tel` varchar(255) NOT NULL,
  `user_type` int NOT NULL DEFAULT '0',
  `linkpass` varchar(6) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `delete_flg` tinyint DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-15 12:35:19
